body {
    text-align: center;
    padding-top: 50%;
    width: 100%; 
    height: auto;
    display: table;
    font-size: 128px;
}

p {
    padding-top: 5%;
}

#left-letter-text {
    color: black;
}

#right-letter-text {
    color: white;
}

#left-letter-holder {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color:white;
}

#left-letter-holder:hover {
    background: yellow;
}

#right-letter-holder {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0; 
    background-color:black;
}

#right-letter-holder:hover {
    background: royalblue;
}

.answer_true {
    background: limegreen !important;
}

.answer_false {
    background: red !important;
}
